<% @posts.each do |post| %>

<div class="card">
    <h4>
        <% link_to post.title, community_post_path(post.community_id, post) %>
    </h4>
    <p>
        <%= truncate post.body, length: 200 %>
    </p>
</div>

<% end %>